EXPO_PUBLIC_SUPABASE_URL=https://wmndnpwmzmendrlfvzug.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtbmRucHdtem1lbmRybGZ2enVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxOTg2NDAsImV4cCI6MjA3MDc3NDY0MH0.fRVcQYkOicO4rmV8tufjZ89HhXPEVaD_XAXzJLO5-uM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndtbmRucHdtem1lbmRybGZ2enVnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTE5ODY0MCwiZXhwIjoyMDcwNzc0NjQwfQ.Ely1XIYsnk_FlKyw4TmFE8L5JqyDQZ7bUOo1rElOtK4